@import url('https://fonts.googleapis.com/css?family=KoHo:400, 600|Lobster');

body{
    background: url(images1/peach.jpg);

}

h2:before {
    content: url(images1/baking\ tools.png)

}

#Name, #email, #remarks {
    border-radius: 30px;
    color: rgb(27, 27, 26);
    font-family: monospace;
    font-size: 1.2em
}

::-webkit-input-placeholder{
    padding-left: 25px;
    font-size: 0.8em
}

th, td {
    padding-left: 10px;
    padding-right: 25px;
    text-align: left;
}

th{
    font-family:'KoHo', 600;
    font-size: 1.3em;
    font-style: bold;
}

p, tbody, ol{
    font-family:'KoHo', sans-serif;
    font-size: 1.3em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.important{
    font-color:orange;
    font-weight:bold;
    text-decoration:underline;
    font-size: 3em;
}
.thumbnail{
    width:100%
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: linear;
}
.thumbnail:hover{
    boarder-radius: 50%;
    image: url(images1/cookies\ stack.png)
}

.news-title{
font-size: 1.5em;
font-weight: bold;
font-family: monospace;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

body{ 
    background-color: mintcream;
}
h3{
    color:rgb(67, 70, 70);
    font-family: 'Lobster', cursive;
    font-size: 1.8em;
}
h2{
    color:rgb(67, 70, 70);
    font-family: 'Lobster', cursive;
    font-size: 2em;
}
h1{
    color:rgb(67, 70, 70);
    font-family: 'Lobster', cursive;
    font-size: 3em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
