@import url('https://fonts.googleapis.com/css?family=Mali');


.priority-high{
    border-left: 5px solid red;
}

.priority-medium{
    border-left: 5px solid orange;
}

.priority-low{
    border-left: 5px solid blue;
}

.list-group{
    margin-top:20px;
}

.list-group-item:hover{
    background-color: aqua
}

.container { 
    margin-top: 20px;
    margin-left: 30px;
}

h1{
    font-family: 'Mali', cursive;
}

.purplecolour {
    color: blueviolet
}

.right-justify{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}